<div class="px-3 mb-3">
    <h5 class="text-light">Main Menu</h5>
</div>
<div class="nav flex-column nav-pills">
    <NavLink class="nav-link mb-2 text-light" href="" Match="NavLinkMatch.All">
        <i class="bi bi-house-door-fill me-2"></i> Home
    </NavLink>
    <NavLink class="nav-link mb-2 text-light" href="cryptorates">
        <i class="bi bi-currency-bitcoin me-2"></i> Crypto Rates
    </NavLink>
</div>
