@{
    var bootstrapCss = Assets["lib/bootstrap/dist/css/bootstrap.min.css"];
    var appCss = Assets["app.css"];
    var myStylesCss = Assets["KnabCryptoRatesConverterApp.Web.styles.css"];
    var bootstrapJs = Assets["lib/bootstrap/dist/js/bootstrap.bundle.min.js"];
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/" />
        <link rel="stylesheet" href="@bootstrapCss" />
        <link rel="stylesheet" href="@appCss" />
        <link rel="stylesheet" href="@myStylesCss" />
        <ImportMap />
        <link rel="icon" type="image/png" href="favicon.png" />
        <HeadOutlet />
    </head>
    <body>
        <Routes />
        <script src="@bootstrapJs"></script>
        <script src="_framework/blazor.web.js"></script>
    </body>
</html>
